<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>random_seed</th>
      <th>time</th>
      <th>zams_mass_1</th>
      <th>zams_mass_2</th>
      <th>zams_orbital_period</th>
      <th>initial_mass_accretor</th>
      <th>initial_mass_donor</th>
      <th>initial_radius_accretor</th>
      <th>initial_radius_donor</th>
      <th>initial_separation</th>
      <th>initial_orbital_period</th>
      <th>initial_stellar_type_accretor</th>
      <th>initial_stellar_type_donor</th>
      <th>initial_time</th>
      <th>initial_orbital_angular_momentum</th>
      <th>initial_stability</th>
      <th>initial_starnum_accretor</th>
      <th>initial_starnum_donor</th>
      <th>final_mass_accretor</th>
      <th>final_mass_donor</th>
      <th>final_radius_accretor</th>
      <th>final_radius_donor</th>
      <th>final_separation</th>
      <th>final_orbital_period</th>
      <th>final_stellar_type_accretor</th>
      <th>final_stellar_type_donor</th>
      <th>final_time</th>
      <th>final_orbital_angular_momentum</th>
      <th>final_starnum_accretor</th>
      <th>final_starnum_donor</th>
      <th>total_mass_lost</th>
      <th>total_mass_accreted</th>
      <th>total_angular_momentum_lost</th>
      <th>total_angular_momentum_stream_excess_returned_to_orbit</th>
      <th>total_angular_momentum_stellar_overspin_returned_to_orbit</th>
      <th>total_mass_transferred_through_disk</th>
      <th>total_time_spent_disk_masstransfer</th>
      <th>episode_number</th>
      <th>probability</th>
      <th>total_mass_transferred</th>
      <th>unique_identifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1006</td>
      <td>3.476351e+06</td>
      <td>91.52470</td>
      <td>78.631500</td>
      <td>11.59420</td>
      <td>72.777600</td>
      <td>46.552700</td>
      <td>34.075100</td>
      <td>45.399500</td>
      <td>133.148000</td>
      <td>0.044600</td>
      <td>1</td>
      <td>1</td>
      <td>3.475924e+06</td>
      <td>7.091000e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>72.777200</td>
      <td>46.542600</td>
      <td>34.086800</td>
      <td>45.057000</td>
      <td>133.088000</td>
      <td>0.044569</td>
      <td>1</td>
      <td>1</td>
      <td>3.476351e+06</td>
      <td>7.089380e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>2.436500e-20</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>2.436500e-20</td>
      <td>101323916575847</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1304</td>
      <td>4.494686e+06</td>
      <td>53.79840</td>
      <td>50.356200</td>
      <td>9.92017</td>
      <td>49.499300</td>
      <td>34.998200</td>
      <td>27.862200</td>
      <td>34.316700</td>
      <td>98.234300</td>
      <td>0.033588</td>
      <td>1</td>
      <td>1</td>
      <td>4.494686e+06</td>
      <td>3.701070e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>49.499300</td>
      <td>34.998200</td>
      <td>27.862200</td>
      <td>34.316700</td>
      <td>98.234400</td>
      <td>0.033588</td>
      <td>1</td>
      <td>1</td>
      <td>4.494686e+06</td>
      <td>3.701070e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.569700e-25</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>1.569700e-25</td>
      <td>277869933623759</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1571</td>
      <td>3.743707e+06</td>
      <td>76.66820</td>
      <td>65.870100</td>
      <td>11.59420</td>
      <td>62.650500</td>
      <td>43.195400</td>
      <td>29.760500</td>
      <td>43.374600</td>
      <td>124.917000</td>
      <td>0.043033</td>
      <td>1</td>
      <td>1</td>
      <td>3.743256e+06</td>
      <td>5.825180e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>62.650400</td>
      <td>43.187300</td>
      <td>29.769900</td>
      <td>43.118200</td>
      <td>124.873000</td>
      <td>0.043010</td>
      <td>1</td>
      <td>1</td>
      <td>3.743707e+06</td>
      <td>5.824140e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>2.766620e-20</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>2.766620e-20</td>
      <td>820337559519836</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2598</td>
      <td>3.819225e+06</td>
      <td>76.66820</td>
      <td>50.163800</td>
      <td>11.59420</td>
      <td>56.641300</td>
      <td>39.653900</td>
      <td>20.800600</td>
      <td>40.003200</td>
      <td>114.785000</td>
      <td>0.039740</td>
      <td>1</td>
      <td>1</td>
      <td>3.818746e+06</td>
      <td>4.858830e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>56.641400</td>
      <td>39.647300</td>
      <td>20.804500</td>
      <td>39.810500</td>
      <td>114.754000</td>
      <td>0.039724</td>
      <td>1</td>
      <td>1</td>
      <td>3.819225e+06</td>
      <td>4.858180e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>2.036450e-21</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>2.036450e-21</td>
      <td>843247124437513</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3017</td>
      <td>1.214581e+10</td>
      <td>1.55707</td>
      <td>0.193402</td>
      <td>88.02790</td>
      <td>0.307352</td>
      <td>0.043935</td>
      <td>0.017645</td>
      <td>0.177050</td>
      <td>0.772674</td>
      <td>0.000363</td>
      <td>11</td>
      <td>0</td>
      <td>1.214536e+10</td>
      <td>3.968170e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307314</td>
      <td>0.043936</td>
      <td>0.024353</td>
      <td>0.177050</td>
      <td>0.772749</td>
      <td>0.000363</td>
      <td>8</td>
      <td>0</td>
      <td>1.214581e+10</td>
      <td>3.968090e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>4.384240e-31</td>
      <td>0.0</td>
      <td>1.241830e-27</td>
      <td>0.0</td>
      <td>4.384240e-31</td>
      <td>362381.00000</td>
      <td>51</td>
      <td>3.014460e-06</td>
      <td>4.384240e-31</td>
      <td>745357212560884</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6123</td>
      <td>1.069609e+10</td>
      <td>1.85879</td>
      <td>0.212743</td>
      <td>120.24400</td>
      <td>0.307288</td>
      <td>0.046261</td>
      <td>0.017646</td>
      <td>0.174032</td>
      <td>0.748440</td>
      <td>0.000345</td>
      <td>11</td>
      <td>0</td>
      <td>1.069600e+10</td>
      <td>4.098150e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307278</td>
      <td>0.046261</td>
      <td>0.017647</td>
      <td>0.174032</td>
      <td>0.748444</td>
      <td>0.000345</td>
      <td>11</td>
      <td>0</td>
      <td>1.069609e+10</td>
      <td>4.098120e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>4.031640e-25</td>
      <td>0.0</td>
      <td>9.913080e-22</td>
      <td>0.0</td>
      <td>4.031640e-25</td>
      <td>39956.70000</td>
      <td>51</td>
      <td>2.394470e-06</td>
      <td>4.031640e-25</td>
      <td>3659561400554</td>
    </tr>
    <tr>
      <th>6</th>
      <td>8850</td>
      <td>3.796917e+06</td>
      <td>76.66820</td>
      <td>46.237300</td>
      <td>11.59420</td>
      <td>54.951800</td>
      <td>39.273400</td>
      <td>18.862700</td>
      <td>39.110300</td>
      <td>111.667000</td>
      <td>0.038549</td>
      <td>1</td>
      <td>1</td>
      <td>3.796434e+06</td>
      <td>4.655140e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>54.952000</td>
      <td>39.266900</td>
      <td>18.865800</td>
      <td>38.910300</td>
      <td>111.636000</td>
      <td>0.038533</td>
      <td>1</td>
      <td>1</td>
      <td>3.796917e+06</td>
      <td>4.654480e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.063970e-21</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>1.063970e-21</td>
      <td>357686845524636</td>
    </tr>
    <tr>
      <th>7</th>
      <td>9777</td>
      <td>4.450117e+06</td>
      <td>53.79840</td>
      <td>43.471800</td>
      <td>9.92017</td>
      <td>46.717300</td>
      <td>34.118300</td>
      <td>20.141800</td>
      <td>33.459600</td>
      <td>95.039700</td>
      <td>0.032679</td>
      <td>1</td>
      <td>1</td>
      <td>4.450117e+06</td>
      <td>3.424430e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>46.717300</td>
      <td>34.118300</td>
      <td>20.141800</td>
      <td>33.459600</td>
      <td>95.039700</td>
      <td>0.032679</td>
      <td>1</td>
      <td>1</td>
      <td>4.450117e+06</td>
      <td>3.424430e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.788500e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>1.788500e-24</td>
      <td>1112874076809946</td>
    </tr>
    <tr>
      <th>8</th>
      <td>11263</td>
      <td>1.193894e+10</td>
      <td>1.85879</td>
      <td>0.212743</td>
      <td>140.53500</td>
      <td>0.307373</td>
      <td>0.046534</td>
      <td>0.017644</td>
      <td>0.173691</td>
      <td>0.745793</td>
      <td>0.000343</td>
      <td>11</td>
      <td>0</td>
      <td>1.193839e+10</td>
      <td>4.114070e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307327</td>
      <td>0.046534</td>
      <td>0.024352</td>
      <td>0.173691</td>
      <td>0.745878</td>
      <td>0.000343</td>
      <td>8</td>
      <td>0</td>
      <td>1.193894e+10</td>
      <td>4.113960e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>8.019390e-33</td>
      <td>0.0</td>
      <td>2.166000e-29</td>
      <td>0.0</td>
      <td>8.019390e-33</td>
      <td>441005.00000</td>
      <td>51</td>
      <td>2.394470e-06</td>
      <td>8.019390e-33</td>
      <td>438777897326184</td>
    </tr>
    <tr>
      <th>9</th>
      <td>12021</td>
      <td>4.073101e+06</td>
      <td>64.22330</td>
      <td>58.468600</td>
      <td>9.92017</td>
      <td>57.588200</td>
      <td>38.219800</td>
      <td>28.679400</td>
      <td>36.402400</td>
      <td>105.810000</td>
      <td>0.035261</td>
      <td>1</td>
      <td>1</td>
      <td>4.073101e+06</td>
      <td>4.583070e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>57.588200</td>
      <td>38.219800</td>
      <td>28.679400</td>
      <td>36.402400</td>
      <td>105.810000</td>
      <td>0.035261</td>
      <td>1</td>
      <td>1</td>
      <td>4.073101e+06</td>
      <td>4.583070e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>0.000000e+00</td>
      <td>199519842176572</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12317</td>
      <td>4.517167e+06</td>
      <td>53.79840</td>
      <td>48.979300</td>
      <td>9.92017</td>
      <td>48.890100</td>
      <td>34.604500</td>
      <td>26.443500</td>
      <td>34.125900</td>
      <td>97.663000</td>
      <td>0.033495</td>
      <td>1</td>
      <td>1</td>
      <td>4.517167e+06</td>
      <td>3.625450e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>48.890100</td>
      <td>34.604500</td>
      <td>26.443500</td>
      <td>34.125900</td>
      <td>97.663100</td>
      <td>0.033495</td>
      <td>1</td>
      <td>1</td>
      <td>4.517167e+06</td>
      <td>3.625450e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>8.282490e-25</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>8.282490e-25</td>
      <td>241648728397639</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12384</td>
      <td>3.785882e+06</td>
      <td>76.66820</td>
      <td>58.017000</td>
      <td>11.59420</td>
      <td>59.848600</td>
      <td>41.279500</td>
      <td>24.785500</td>
      <td>41.876100</td>
      <td>120.591000</td>
      <td>0.041759</td>
      <td>1</td>
      <td>1</td>
      <td>3.785882e+06</td>
      <td>5.345440e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>59.848600</td>
      <td>41.279500</td>
      <td>24.785500</td>
      <td>41.876100</td>
      <td>120.592000</td>
      <td>0.041759</td>
      <td>1</td>
      <td>1</td>
      <td>3.785882e+06</td>
      <td>5.345440e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>7.126990e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>7.126990e-24</td>
      <td>789677870931980</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12918</td>
      <td>4.945947e+06</td>
      <td>45.06570</td>
      <td>41.030300</td>
      <td>8.48785</td>
      <td>43.271300</td>
      <td>30.474800</td>
      <td>21.718300</td>
      <td>28.891700</td>
      <td>82.783000</td>
      <td>0.027813</td>
      <td>1</td>
      <td>1</td>
      <td>4.945947e+06</td>
      <td>2.768310e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>43.271300</td>
      <td>30.474800</td>
      <td>21.718300</td>
      <td>28.891700</td>
      <td>82.783100</td>
      <td>0.027813</td>
      <td>1</td>
      <td>1</td>
      <td>4.945947e+06</td>
      <td>2.768310e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>2.725290e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>5.507280e-08</td>
      <td>2.725290e-24</td>
      <td>186105024620730</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13637</td>
      <td>4.095469e+06</td>
      <td>64.22330</td>
      <td>53.536000</td>
      <td>9.92017</td>
      <td>55.658400</td>
      <td>37.265500</td>
      <td>24.642800</td>
      <td>35.861300</td>
      <td>104.015000</td>
      <td>0.034897</td>
      <td>1</td>
      <td>1</td>
      <td>4.094967e+06</td>
      <td>4.348050e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>55.658200</td>
      <td>37.259600</td>
      <td>24.649500</td>
      <td>35.660300</td>
      <td>103.983000</td>
      <td>0.034881</td>
      <td>1</td>
      <td>1</td>
      <td>4.095469e+06</td>
      <td>4.347370e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.272860e-21</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>1.272860e-21</td>
      <td>197770676979749</td>
    </tr>
    <tr>
      <th>14</th>
      <td>13756</td>
      <td>3.456281e+06</td>
      <td>91.52470</td>
      <td>88.008400</td>
      <td>11.59420</td>
      <td>76.249500</td>
      <td>47.802500</td>
      <td>42.056200</td>
      <td>45.714600</td>
      <td>134.731000</td>
      <td>0.044525</td>
      <td>1</td>
      <td>1</td>
      <td>3.455861e+06</td>
      <td>7.526480e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>76.249600</td>
      <td>47.791600</td>
      <td>42.076300</td>
      <td>45.334000</td>
      <td>134.666000</td>
      <td>0.044493</td>
      <td>1</td>
      <td>1</td>
      <td>3.456281e+06</td>
      <td>7.524670e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>9.706280e-20</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>9.706280e-20</td>
      <td>279493850139683</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15178</td>
      <td>3.518139e+06</td>
      <td>91.52470</td>
      <td>64.566200</td>
      <td>11.59420</td>
      <td>67.994400</td>
      <td>44.003900</td>
      <td>25.994100</td>
      <td>43.544400</td>
      <td>127.345000</td>
      <td>0.043060</td>
      <td>1</td>
      <td>1</td>
      <td>3.517695e+06</td>
      <td>6.321530e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>67.994100</td>
      <td>43.995200</td>
      <td>25.999900</td>
      <td>43.260200</td>
      <td>127.301000</td>
      <td>0.043038</td>
      <td>1</td>
      <td>1</td>
      <td>3.518139e+06</td>
      <td>6.320430e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>2.153880e-20</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>2.153880e-20</td>
      <td>508691755983263</td>
    </tr>
    <tr>
      <th>16</th>
      <td>15404</td>
      <td>1.060238e+10</td>
      <td>1.55707</td>
      <td>0.118680</td>
      <td>140.53500</td>
      <td>0.307257</td>
      <td>0.041164</td>
      <td>0.017647</td>
      <td>0.180937</td>
      <td>0.804339</td>
      <td>0.000388</td>
      <td>11</td>
      <td>0</td>
      <td>1.060237e+10</td>
      <td>3.807710e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307257</td>
      <td>0.041164</td>
      <td>0.024355</td>
      <td>0.180937</td>
      <td>0.804339</td>
      <td>0.000388</td>
      <td>8</td>
      <td>0</td>
      <td>1.060238e+10</td>
      <td>3.807710e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>2.805390e-33</td>
      <td>0.0</td>
      <td>8.378530e-30</td>
      <td>0.0</td>
      <td>2.805390e-33</td>
      <td>3799.69000</td>
      <td>51</td>
      <td>3.014460e-06</td>
      <td>2.805390e-33</td>
      <td>270959641505541</td>
    </tr>
    <tr>
      <th>17</th>
      <td>16325</td>
      <td>4.128808e+06</td>
      <td>64.22330</td>
      <td>50.247700</td>
      <td>9.92017</td>
      <td>54.475200</td>
      <td>36.331800</td>
      <td>22.653300</td>
      <td>35.228500</td>
      <td>102.276000</td>
      <td>0.034420</td>
      <td>1</td>
      <td>1</td>
      <td>4.128295e+06</td>
      <td>4.161830e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>54.475000</td>
      <td>36.326300</td>
      <td>22.658600</td>
      <td>35.046800</td>
      <td>102.248000</td>
      <td>0.034405</td>
      <td>1</td>
      <td>1</td>
      <td>4.128808e+06</td>
      <td>4.161260e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>4.302890e-23</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>4.302890e-23</td>
      <td>686827359443728</td>
    </tr>
    <tr>
      <th>18</th>
      <td>16427</td>
      <td>3.844248e+06</td>
      <td>76.66820</td>
      <td>40.347400</td>
      <td>11.59420</td>
      <td>52.387100</td>
      <td>37.423900</td>
      <td>16.743900</td>
      <td>37.184900</td>
      <td>106.181000</td>
      <td>0.036611</td>
      <td>1</td>
      <td>1</td>
      <td>3.843747e+06</td>
      <td>4.223820e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>52.387400</td>
      <td>37.418100</td>
      <td>16.746300</td>
      <td>37.010500</td>
      <td>106.153000</td>
      <td>0.036597</td>
      <td>1</td>
      <td>1</td>
      <td>3.844248e+06</td>
      <td>4.223250e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>2.168030e-22</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>2.168030e-22</td>
      <td>782218600110450</td>
    </tr>
    <tr>
      <th>19</th>
      <td>16594</td>
      <td>4.473811e+06</td>
      <td>53.79840</td>
      <td>51.733100</td>
      <td>9.92017</td>
      <td>50.131600</td>
      <td>35.366700</td>
      <td>29.410500</td>
      <td>34.484900</td>
      <td>98.768500</td>
      <td>0.033663</td>
      <td>1</td>
      <td>1</td>
      <td>4.473811e+06</td>
      <td>3.775800e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>50.131600</td>
      <td>35.366700</td>
      <td>29.410500</td>
      <td>34.484900</td>
      <td>98.768600</td>
      <td>0.033663</td>
      <td>1</td>
      <td>1</td>
      <td>4.473811e+06</td>
      <td>3.775800e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.107370e-25</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>1.107370e-25</td>
      <td>717875199860573</td>
    </tr>
    <tr>
      <th>20</th>
      <td>17917</td>
      <td>3.513378e+06</td>
      <td>91.52470</td>
      <td>62.221900</td>
      <td>11.59420</td>
      <td>67.189500</td>
      <td>43.747100</td>
      <td>24.785100</td>
      <td>43.092900</td>
      <td>125.839000</td>
      <td>0.042500</td>
      <td>1</td>
      <td>1</td>
      <td>3.512931e+06</td>
      <td>6.202890e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>67.189300</td>
      <td>43.738500</td>
      <td>24.790300</td>
      <td>42.809100</td>
      <td>125.798000</td>
      <td>0.042480</td>
      <td>1</td>
      <td>1</td>
      <td>3.513378e+06</td>
      <td>6.201880e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>6.921700e-21</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>6.921700e-21</td>
      <td>917358226181882</td>
    </tr>
    <tr>
      <th>21</th>
      <td>20047</td>
      <td>1.229917e+10</td>
      <td>1.55707</td>
      <td>0.156041</td>
      <td>120.24400</td>
      <td>0.307257</td>
      <td>0.042070</td>
      <td>0.017647</td>
      <td>0.179630</td>
      <td>0.793592</td>
      <td>0.000379</td>
      <td>11</td>
      <td>0</td>
      <td>1.229916e+10</td>
      <td>3.860360e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307257</td>
      <td>0.042070</td>
      <td>0.024355</td>
      <td>0.179630</td>
      <td>0.793593</td>
      <td>0.000379</td>
      <td>8</td>
      <td>0</td>
      <td>1.229917e+10</td>
      <td>3.860350e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>1.407480e-31</td>
      <td>0.0</td>
      <td>4.129910e-28</td>
      <td>0.0</td>
      <td>1.407480e-31</td>
      <td>3565.22000</td>
      <td>51</td>
      <td>3.014460e-06</td>
      <td>1.407480e-31</td>
      <td>337860436245325</td>
    </tr>
    <tr>
      <th>22</th>
      <td>20784</td>
      <td>4.922390e+06</td>
      <td>45.06570</td>
      <td>39.877400</td>
      <td>8.48785</td>
      <td>42.778700</td>
      <td>30.391100</td>
      <td>20.249800</td>
      <td>28.836800</td>
      <td>82.453000</td>
      <td>0.027756</td>
      <td>1</td>
      <td>1</td>
      <td>4.922390e+06</td>
      <td>2.734540e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>42.778700</td>
      <td>30.391100</td>
      <td>20.249800</td>
      <td>28.836800</td>
      <td>82.453100</td>
      <td>0.027756</td>
      <td>1</td>
      <td>1</td>
      <td>4.922390e+06</td>
      <td>2.734540e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.979860e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>5.507280e-08</td>
      <td>1.979860e-24</td>
      <td>679005452196715</td>
    </tr>
    <tr>
      <th>23</th>
      <td>21826</td>
      <td>4.123694e+06</td>
      <td>64.22330</td>
      <td>45.315100</td>
      <td>9.92017</td>
      <td>52.648500</td>
      <td>35.438700</td>
      <td>19.699400</td>
      <td>34.109800</td>
      <td>98.807200</td>
      <td>0.033184</td>
      <td>1</td>
      <td>1</td>
      <td>4.123694e+06</td>
      <td>3.915380e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>52.648500</td>
      <td>35.438700</td>
      <td>19.699400</td>
      <td>34.109800</td>
      <td>98.807200</td>
      <td>0.033184</td>
      <td>1</td>
      <td>1</td>
      <td>4.123694e+06</td>
      <td>3.915380e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>0.000000e+00</td>
      <td>517450032726757</td>
    </tr>
    <tr>
      <th>24</th>
      <td>22034</td>
      <td>4.186253e+06</td>
      <td>64.22330</td>
      <td>40.382600</td>
      <td>9.92017</td>
      <td>50.574100</td>
      <td>33.899200</td>
      <td>17.633800</td>
      <td>32.641300</td>
      <td>94.649800</td>
      <td>0.031771</td>
      <td>1</td>
      <td>1</td>
      <td>4.186253e+06</td>
      <td>3.595750e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>50.574100</td>
      <td>33.899200</td>
      <td>17.633800</td>
      <td>32.641300</td>
      <td>94.649800</td>
      <td>0.031771</td>
      <td>1</td>
      <td>1</td>
      <td>4.186253e+06</td>
      <td>3.595750e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>0.000000e+00</td>
      <td>1091916047115826</td>
    </tr>
    <tr>
      <th>25</th>
      <td>22857</td>
      <td>1.303992e+10</td>
      <td>1.55707</td>
      <td>0.193402</td>
      <td>102.88300</td>
      <td>0.307271</td>
      <td>0.044772</td>
      <td>0.017647</td>
      <td>0.175941</td>
      <td>0.763681</td>
      <td>0.000357</td>
      <td>11</td>
      <td>0</td>
      <td>1.303985e+10</td>
      <td>4.014710e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307265</td>
      <td>0.044772</td>
      <td>0.024355</td>
      <td>0.175941</td>
      <td>0.763692</td>
      <td>0.000357</td>
      <td>8</td>
      <td>0</td>
      <td>1.303992e+10</td>
      <td>4.014700e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>1.423590e-31</td>
      <td>0.0</td>
      <td>3.969370e-28</td>
      <td>0.0</td>
      <td>1.423590e-31</td>
      <td>55063.60000</td>
      <td>51</td>
      <td>3.014460e-06</td>
      <td>1.423590e-31</td>
      <td>982210534023274</td>
    </tr>
    <tr>
      <th>26</th>
      <td>22972</td>
      <td>4.474339e+06</td>
      <td>53.79840</td>
      <td>44.848700</td>
      <td>9.92017</td>
      <td>47.268600</td>
      <td>34.197300</td>
      <td>21.473300</td>
      <td>33.792600</td>
      <td>96.202300</td>
      <td>0.033151</td>
      <td>1</td>
      <td>1</td>
      <td>4.474339e+06</td>
      <td>3.480500e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>47.268600</td>
      <td>34.197300</td>
      <td>21.473300</td>
      <td>33.792600</td>
      <td>96.202300</td>
      <td>0.033151</td>
      <td>1</td>
      <td>1</td>
      <td>4.474339e+06</td>
      <td>3.480500e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>8.313610e-25</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>8.313610e-25</td>
      <td>352751643909786</td>
    </tr>
    <tr>
      <th>27</th>
      <td>25445</td>
      <td>4.859657e+06</td>
      <td>45.06570</td>
      <td>37.571400</td>
      <td>8.48785</td>
      <td>41.867800</td>
      <td>30.206000</td>
      <td>17.796400</td>
      <td>28.356800</td>
      <td>80.781300</td>
      <td>0.027120</td>
      <td>1</td>
      <td>1</td>
      <td>4.859657e+06</td>
      <td>2.652850e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>41.867800</td>
      <td>30.206000</td>
      <td>17.796400</td>
      <td>28.356800</td>
      <td>80.781300</td>
      <td>0.027120</td>
      <td>1</td>
      <td>1</td>
      <td>4.859657e+06</td>
      <td>2.652850e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>5.507280e-08</td>
      <td>0.000000e+00</td>
      <td>433585848357082</td>
    </tr>
    <tr>
      <th>28</th>
      <td>25479</td>
      <td>4.068283e+06</td>
      <td>64.22330</td>
      <td>56.824400</td>
      <td>9.92017</td>
      <td>56.928400</td>
      <td>38.069900</td>
      <td>27.006700</td>
      <td>36.332100</td>
      <td>105.411000</td>
      <td>0.035211</td>
      <td>1</td>
      <td>1</td>
      <td>4.068283e+06</td>
      <td>4.523440e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>56.928400</td>
      <td>38.069900</td>
      <td>27.006700</td>
      <td>36.332100</td>
      <td>105.411000</td>
      <td>0.035211</td>
      <td>1</td>
      <td>1</td>
      <td>4.068283e+06</td>
      <td>4.523440e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.680950e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>1.680950e-24</td>
      <td>812963051538892</td>
    </tr>
    <tr>
      <th>29</th>
      <td>27214</td>
      <td>3.818007e+06</td>
      <td>76.66820</td>
      <td>42.310700</td>
      <td>11.59420</td>
      <td>53.238700</td>
      <td>38.184700</td>
      <td>17.377200</td>
      <td>37.924300</td>
      <td>108.189000</td>
      <td>0.037321</td>
      <td>1</td>
      <td>1</td>
      <td>3.818007e+06</td>
      <td>4.381790e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>53.238700</td>
      <td>38.184700</td>
      <td>17.377200</td>
      <td>37.924300</td>
      <td>108.189000</td>
      <td>0.037321</td>
      <td>1</td>
      <td>1</td>
      <td>3.818007e+06</td>
      <td>4.381790e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>0.000000e+00</td>
      <td>651272826160859</td>
    </tr>
    <tr>
      <th>30</th>
      <td>28559</td>
      <td>4.220431e+06</td>
      <td>64.22330</td>
      <td>38.738400</td>
      <td>9.92017</td>
      <td>49.870600</td>
      <td>33.258800</td>
      <td>17.057300</td>
      <td>32.071500</td>
      <td>93.111800</td>
      <td>0.031249</td>
      <td>1</td>
      <td>1</td>
      <td>4.220431e+06</td>
      <td>3.478150e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>49.870600</td>
      <td>33.258800</td>
      <td>17.057300</td>
      <td>32.071500</td>
      <td>93.111800</td>
      <td>0.031249</td>
      <td>1</td>
      <td>1</td>
      <td>4.220431e+06</td>
      <td>3.478150e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>0.000000e+00</td>
      <td>953911439139781</td>
    </tr>
    <tr>
      <th>31</th>
      <td>30509</td>
      <td>1.339381e+10</td>
      <td>1.55707</td>
      <td>0.156041</td>
      <td>140.53500</td>
      <td>0.307259</td>
      <td>0.042874</td>
      <td>0.017647</td>
      <td>0.178499</td>
      <td>0.784358</td>
      <td>0.000372</td>
      <td>11</td>
      <td>0</td>
      <td>1.339379e+10</td>
      <td>3.906750e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307258</td>
      <td>0.042874</td>
      <td>0.024355</td>
      <td>0.178499</td>
      <td>0.784361</td>
      <td>0.000372</td>
      <td>8</td>
      <td>0</td>
      <td>1.339381e+10</td>
      <td>3.906750e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>7.472050e-31</td>
      <td>0.0</td>
      <td>2.158860e-27</td>
      <td>0.0</td>
      <td>7.472050e-31</td>
      <td>11728.30000</td>
      <td>51</td>
      <td>3.014460e-06</td>
      <td>7.472050e-31</td>
      <td>342313270283860</td>
    </tr>
    <tr>
      <th>32</th>
      <td>30919</td>
      <td>3.490745e+06</td>
      <td>91.52470</td>
      <td>73.943100</td>
      <td>11.59420</td>
      <td>71.127000</td>
      <td>45.762800</td>
      <td>31.029100</td>
      <td>44.978900</td>
      <td>131.727000</td>
      <td>0.044344</td>
      <td>1</td>
      <td>1</td>
      <td>3.490313e+06</td>
      <td>6.846500e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>71.126600</td>
      <td>45.753100</td>
      <td>31.038300</td>
      <td>44.657300</td>
      <td>131.671000</td>
      <td>0.044316</td>
      <td>1</td>
      <td>1</td>
      <td>3.490745e+06</td>
      <td>6.845050e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>5.486460e-20</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>5.486460e-20</td>
      <td>338353885665472</td>
    </tr>
    <tr>
      <th>33</th>
      <td>31714</td>
      <td>4.504390e+06</td>
      <td>53.79840</td>
      <td>46.225500</td>
      <td>9.92017</td>
      <td>47.767100</td>
      <td>34.245400</td>
      <td>23.124500</td>
      <td>33.933600</td>
      <td>96.814600</td>
      <td>0.033356</td>
      <td>1</td>
      <td>1</td>
      <td>4.504390e+06</td>
      <td>3.521550e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>47.767100</td>
      <td>34.245400</td>
      <td>23.124500</td>
      <td>33.933600</td>
      <td>96.814600</td>
      <td>0.033356</td>
      <td>1</td>
      <td>1</td>
      <td>4.504390e+06</td>
      <td>3.521550e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>0.000000e+00</td>
      <td>458144793109464</td>
    </tr>
    <tr>
      <th>34</th>
      <td>32040</td>
      <td>4.469593e+06</td>
      <td>53.79840</td>
      <td>33.833600</td>
      <td>9.92017</td>
      <td>42.255700</td>
      <td>31.948800</td>
      <td>14.713900</td>
      <td>30.753100</td>
      <td>86.631700</td>
      <td>0.029683</td>
      <td>1</td>
      <td>1</td>
      <td>4.469593e+06</td>
      <td>2.890250e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>42.255700</td>
      <td>31.948800</td>
      <td>14.713900</td>
      <td>30.753100</td>
      <td>86.631800</td>
      <td>0.029683</td>
      <td>1</td>
      <td>1</td>
      <td>4.469593e+06</td>
      <td>2.890250e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>9.827890e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>9.827890e-24</td>
      <td>1054704605842028</td>
    </tr>
    <tr>
      <th>35</th>
      <td>32495</td>
      <td>4.086558e+06</td>
      <td>64.22330</td>
      <td>55.180200</td>
      <td>9.92017</td>
      <td>56.280600</td>
      <td>37.613200</td>
      <td>25.856200</td>
      <td>36.081000</td>
      <td>104.699000</td>
      <td>0.035059</td>
      <td>1</td>
      <td>1</td>
      <td>4.086558e+06</td>
      <td>4.429180e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>56.280600</td>
      <td>37.613200</td>
      <td>25.856200</td>
      <td>36.081000</td>
      <td>104.699000</td>
      <td>0.035059</td>
      <td>1</td>
      <td>1</td>
      <td>4.086558e+06</td>
      <td>4.429180e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>0.000000e+00</td>
      <td>684767588965014</td>
    </tr>
    <tr>
      <th>36</th>
      <td>32537</td>
      <td>3.758960e+06</td>
      <td>76.66820</td>
      <td>67.833400</td>
      <td>11.59420</td>
      <td>63.400300</td>
      <td>43.151600</td>
      <td>31.832500</td>
      <td>43.372800</td>
      <td>125.303000</td>
      <td>0.043089</td>
      <td>1</td>
      <td>1</td>
      <td>3.758509e+06</td>
      <td>5.878420e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>63.400200</td>
      <td>43.143500</td>
      <td>31.843900</td>
      <td>43.118200</td>
      <td>125.257000</td>
      <td>0.043065</td>
      <td>1</td>
      <td>1</td>
      <td>3.758960e+06</td>
      <td>5.877340e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.569580e-22</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>1.569580e-22</td>
      <td>633183001052590</td>
    </tr>
    <tr>
      <th>37</th>
      <td>33269</td>
      <td>1.349812e+08</td>
      <td>5.37984</td>
      <td>4.364480</td>
      <td>140.53500</td>
      <td>0.672213</td>
      <td>4.382350</td>
      <td>0.296873</td>
      <td>5.910200</td>
      <td>10.878700</td>
      <td>0.005061</td>
      <td>8</td>
      <td>1</td>
      <td>1.349812e+08</td>
      <td>8.563140e+04</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.672213</td>
      <td>4.382350</td>
      <td>0.296873</td>
      <td>5.910200</td>
      <td>10.878700</td>
      <td>0.005061</td>
      <td>8</td>
      <td>1</td>
      <td>1.349812e+08</td>
      <td>8.563140e+04</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>9.53967</td>
      <td>51</td>
      <td>6.014650e-07</td>
      <td>0.000000e+00</td>
      <td>211706774618430</td>
    </tr>
    <tr>
      <th>38</th>
      <td>33860</td>
      <td>3.534613e+06</td>
      <td>91.52470</td>
      <td>57.533500</td>
      <td>11.59420</td>
      <td>65.428000</td>
      <td>42.664100</td>
      <td>22.915600</td>
      <td>41.971300</td>
      <td>122.520000</td>
      <td>0.041364</td>
      <td>1</td>
      <td>1</td>
      <td>3.534159e+06</td>
      <td>5.888500e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>65.427900</td>
      <td>42.656000</td>
      <td>22.920000</td>
      <td>41.705000</td>
      <td>122.482000</td>
      <td>0.041344</td>
      <td>1</td>
      <td>1</td>
      <td>3.534613e+06</td>
      <td>5.887590e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>7.486720e-23</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>7.486720e-23</td>
      <td>208277667229279</td>
    </tr>
    <tr>
      <th>39</th>
      <td>34242</td>
      <td>3.505931e+06</td>
      <td>91.52470</td>
      <td>66.910400</td>
      <td>11.59420</td>
      <td>68.781600</td>
      <td>44.584900</td>
      <td>27.058500</td>
      <td>44.021100</td>
      <td>128.689000</td>
      <td>0.043479</td>
      <td>1</td>
      <td>1</td>
      <td>3.505491e+06</td>
      <td>6.473810e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>68.781300</td>
      <td>44.575800</td>
      <td>27.064900</td>
      <td>43.724700</td>
      <td>128.641000</td>
      <td>0.043455</td>
      <td>1</td>
      <td>1</td>
      <td>3.505931e+06</td>
      <td>6.472620e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>3.175200e-20</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>3.175200e-20</td>
      <td>1090976899676883</td>
    </tr>
    <tr>
      <th>40</th>
      <td>35584</td>
      <td>3.463917e+06</td>
      <td>91.52470</td>
      <td>85.664200</td>
      <td>11.59420</td>
      <td>75.359900</td>
      <td>47.434700</td>
      <td>39.912300</td>
      <td>45.644500</td>
      <td>134.393000</td>
      <td>0.044584</td>
      <td>1</td>
      <td>1</td>
      <td>3.463495e+06</td>
      <td>7.409830e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>75.359800</td>
      <td>47.424000</td>
      <td>39.929900</td>
      <td>45.275400</td>
      <td>134.330000</td>
      <td>0.044553</td>
      <td>1</td>
      <td>1</td>
      <td>3.463917e+06</td>
      <td>7.408090e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>3.665240e-20</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>3.665240e-20</td>
      <td>27535400952044</td>
    </tr>
    <tr>
      <th>41</th>
      <td>36644</td>
      <td>4.895538e+06</td>
      <td>45.06570</td>
      <td>43.336300</td>
      <td>8.48785</td>
      <td>44.331900</td>
      <td>31.172200</td>
      <td>23.990200</td>
      <td>29.226500</td>
      <td>83.774200</td>
      <td>0.027983</td>
      <td>1</td>
      <td>1</td>
      <td>4.895538e+06</td>
      <td>2.884200e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>44.331900</td>
      <td>31.172200</td>
      <td>23.990200</td>
      <td>29.226500</td>
      <td>83.774200</td>
      <td>0.027983</td>
      <td>1</td>
      <td>1</td>
      <td>4.895538e+06</td>
      <td>2.884200e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.759400e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>5.507280e-08</td>
      <td>1.759400e-24</td>
      <td>555059489919029</td>
    </tr>
    <tr>
      <th>42</th>
      <td>36877</td>
      <td>3.759200e+06</td>
      <td>76.66820</td>
      <td>71.760000</td>
      <td>11.59420</td>
      <td>64.971800</td>
      <td>43.542100</td>
      <td>35.907600</td>
      <td>43.503000</td>
      <td>126.150000</td>
      <td>0.043132</td>
      <td>1</td>
      <td>1</td>
      <td>3.758752e+06</td>
      <td>6.043780e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>64.971900</td>
      <td>43.533800</td>
      <td>35.923100</td>
      <td>43.235800</td>
      <td>126.102000</td>
      <td>0.043107</td>
      <td>1</td>
      <td>1</td>
      <td>3.759200e+06</td>
      <td>6.042610e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>4.707470e-21</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>4.707470e-21</td>
      <td>146910374724033</td>
    </tr>
    <tr>
      <th>43</th>
      <td>37494</td>
      <td>3.762458e+06</td>
      <td>76.66820</td>
      <td>69.796700</td>
      <td>11.59420</td>
      <td>64.175600</td>
      <td>43.294300</td>
      <td>33.864100</td>
      <td>43.421300</td>
      <td>125.712000</td>
      <td>0.043115</td>
      <td>1</td>
      <td>1</td>
      <td>3.762009e+06</td>
      <td>5.954120e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>64.175500</td>
      <td>43.286100</td>
      <td>33.877500</td>
      <td>43.162000</td>
      <td>125.664000</td>
      <td>0.043091</td>
      <td>1</td>
      <td>1</td>
      <td>3.762458e+06</td>
      <td>5.952990e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.117360e-21</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>1.117360e-21</td>
      <td>417081830754122</td>
    </tr>
    <tr>
      <th>44</th>
      <td>37784</td>
      <td>4.502601e+06</td>
      <td>53.79840</td>
      <td>36.587400</td>
      <td>9.92017</td>
      <td>43.561600</td>
      <td>32.384400</td>
      <td>16.204600</td>
      <td>31.552800</td>
      <td>89.243300</td>
      <td>0.030677</td>
      <td>1</td>
      <td>1</td>
      <td>4.502601e+06</td>
      <td>3.030030e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>43.561600</td>
      <td>32.384400</td>
      <td>16.204600</td>
      <td>31.552800</td>
      <td>89.243400</td>
      <td>0.030677</td>
      <td>1</td>
      <td>1</td>
      <td>4.502601e+06</td>
      <td>3.030030e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>3.977510e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>3.977510e-24</td>
      <td>342664172824057</td>
    </tr>
    <tr>
      <th>45</th>
      <td>38097</td>
      <td>3.513015e+06</td>
      <td>91.52470</td>
      <td>59.877700</td>
      <td>11.59420</td>
      <td>66.334000</td>
      <td>43.396500</td>
      <td>23.717400</td>
      <td>42.561700</td>
      <td>124.145000</td>
      <td>0.041873</td>
      <td>1</td>
      <td>1</td>
      <td>3.513015e+06</td>
      <td>6.066860e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>66.334000</td>
      <td>43.396500</td>
      <td>23.717400</td>
      <td>42.561700</td>
      <td>124.145000</td>
      <td>0.041873</td>
      <td>1</td>
      <td>1</td>
      <td>3.513015e+06</td>
      <td>6.066860e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>0.000000e+00</td>
      <td>163286884523862</td>
    </tr>
    <tr>
      <th>46</th>
      <td>38321</td>
      <td>4.229396e+06</td>
      <td>64.22330</td>
      <td>35.450000</td>
      <td>9.92017</td>
      <td>48.441700</td>
      <td>32.399600</td>
      <td>15.702900</td>
      <td>30.921100</td>
      <td>89.708800</td>
      <td>0.029967</td>
      <td>1</td>
      <td>1</td>
      <td>4.229396e+06</td>
      <td>3.275910e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>48.441700</td>
      <td>32.399600</td>
      <td>15.702900</td>
      <td>30.921100</td>
      <td>89.708800</td>
      <td>0.029967</td>
      <td>1</td>
      <td>1</td>
      <td>4.229396e+06</td>
      <td>3.275910e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>0.000000e+00</td>
      <td>589085715903320</td>
    </tr>
    <tr>
      <th>47</th>
      <td>38787</td>
      <td>3.537793e+06</td>
      <td>91.52470</td>
      <td>52.845000</td>
      <td>11.59420</td>
      <td>63.554600</td>
      <td>41.870900</td>
      <td>20.990400</td>
      <td>40.875400</td>
      <td>119.024000</td>
      <td>0.040104</td>
      <td>1</td>
      <td>1</td>
      <td>3.537793e+06</td>
      <td>5.602420e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>63.554600</td>
      <td>41.870900</td>
      <td>20.990400</td>
      <td>40.875400</td>
      <td>119.024000</td>
      <td>0.040104</td>
      <td>1</td>
      <td>1</td>
      <td>3.537793e+06</td>
      <td>5.602420e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>0.000000e+00</td>
      <td>1084955093877966</td>
    </tr>
    <tr>
      <th>48</th>
      <td>39122</td>
      <td>3.806599e+06</td>
      <td>76.66820</td>
      <td>56.053700</td>
      <td>11.59420</td>
      <td>59.071900</td>
      <td>40.694800</td>
      <td>23.824200</td>
      <td>41.388700</td>
      <td>119.222000</td>
      <td>0.041328</td>
      <td>1</td>
      <td>1</td>
      <td>3.806130e+06</td>
      <td>5.206890e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>59.071700</td>
      <td>40.687900</td>
      <td>23.829600</td>
      <td>41.188000</td>
      <td>119.190000</td>
      <td>0.041312</td>
      <td>1</td>
      <td>1</td>
      <td>3.806599e+06</td>
      <td>5.206180e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>5.064810e-22</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>5.064810e-22</td>
      <td>679042771272142</td>
    </tr>
    <tr>
      <th>49</th>
      <td>39597</td>
      <td>4.855386e+06</td>
      <td>45.06570</td>
      <td>42.183300</td>
      <td>8.48785</td>
      <td>43.790700</td>
      <td>31.253700</td>
      <td>22.033600</td>
      <td>29.283700</td>
      <td>83.638100</td>
      <td>0.028000</td>
      <td>1</td>
      <td>1</td>
      <td>4.855386e+06</td>
      <td>2.862850e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>43.790700</td>
      <td>31.253700</td>
      <td>22.033600</td>
      <td>29.283600</td>
      <td>83.638200</td>
      <td>0.028000</td>
      <td>1</td>
      <td>1</td>
      <td>4.855386e+06</td>
      <td>2.862850e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>3.402690e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>5.507280e-08</td>
      <td>3.402690e-24</td>
      <td>319261167866250</td>
    </tr>
    <tr>
      <th>50</th>
      <td>40234</td>
      <td>4.428992e+06</td>
      <td>53.79840</td>
      <td>40.718000</td>
      <td>9.92017</td>
      <td>45.458100</td>
      <td>33.807500</td>
      <td>18.146300</td>
      <td>32.717100</td>
      <td>92.527800</td>
      <td>0.031701</td>
      <td>1</td>
      <td>1</td>
      <td>4.428992e+06</td>
      <td>3.289960e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>45.458100</td>
      <td>33.807500</td>
      <td>18.146300</td>
      <td>32.717100</td>
      <td>92.527900</td>
      <td>0.031701</td>
      <td>1</td>
      <td>1</td>
      <td>4.428992e+06</td>
      <td>3.289960e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>8.090890e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>8.090890e-24</td>
      <td>440216431277834</td>
    </tr>
    <tr>
      <th>51</th>
      <td>40379</td>
      <td>3.855499e+06</td>
      <td>76.66820</td>
      <td>38.384100</td>
      <td>11.59420</td>
      <td>51.526400</td>
      <td>36.801400</td>
      <td>16.061500</td>
      <td>36.451100</td>
      <td>104.091000</td>
      <td>0.035833</td>
      <td>1</td>
      <td>1</td>
      <td>3.855499e+06</td>
      <td>4.078730e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>51.526400</td>
      <td>36.801400</td>
      <td>16.061500</td>
      <td>36.451100</td>
      <td>104.091000</td>
      <td>0.035833</td>
      <td>1</td>
      <td>1</td>
      <td>3.855499e+06</td>
      <td>4.078730e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>0.000000e+00</td>
      <td>700337814302536</td>
    </tr>
    <tr>
      <th>52</th>
      <td>40838</td>
      <td>3.558079e+06</td>
      <td>91.52470</td>
      <td>48.156600</td>
      <td>11.59420</td>
      <td>61.626500</td>
      <td>40.695900</td>
      <td>19.360800</td>
      <td>39.586800</td>
      <td>115.206000</td>
      <td>0.038764</td>
      <td>1</td>
      <td>1</td>
      <td>3.558079e+06</td>
      <td>5.272810e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>61.626500</td>
      <td>40.695900</td>
      <td>19.360800</td>
      <td>39.586800</td>
      <td>115.206000</td>
      <td>0.038764</td>
      <td>1</td>
      <td>1</td>
      <td>3.558079e+06</td>
      <td>5.272810e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>0.000000e+00</td>
      <td>396336706510834</td>
    </tr>
    <tr>
      <th>53</th>
      <td>40865</td>
      <td>3.811737e+06</td>
      <td>76.66820</td>
      <td>48.200500</td>
      <td>11.59420</td>
      <td>55.806400</td>
      <td>39.422500</td>
      <td>19.827100</td>
      <td>39.545500</td>
      <td>113.226000</td>
      <td>0.039151</td>
      <td>1</td>
      <td>1</td>
      <td>3.811737e+06</td>
      <td>4.753240e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>55.806400</td>
      <td>39.422500</td>
      <td>19.827100</td>
      <td>39.545500</td>
      <td>113.226000</td>
      <td>0.039151</td>
      <td>1</td>
      <td>1</td>
      <td>3.811737e+06</td>
      <td>4.753240e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>0.000000e+00</td>
      <td>366161292351545</td>
    </tr>
    <tr>
      <th>54</th>
      <td>41920</td>
      <td>4.435530e+06</td>
      <td>53.79840</td>
      <td>39.341100</td>
      <td>9.92017</td>
      <td>44.822300</td>
      <td>33.484600</td>
      <td>17.369600</td>
      <td>32.365900</td>
      <td>91.436700</td>
      <td>0.031332</td>
      <td>1</td>
      <td>1</td>
      <td>4.435530e+06</td>
      <td>3.213460e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>44.822300</td>
      <td>33.484600</td>
      <td>17.369600</td>
      <td>32.365900</td>
      <td>91.436800</td>
      <td>0.031332</td>
      <td>1</td>
      <td>1</td>
      <td>4.435530e+06</td>
      <td>3.213460e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>2.606160e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>2.606160e-24</td>
      <td>985661087631831</td>
    </tr>
    <tr>
      <th>55</th>
      <td>43378</td>
      <td>1.080644e+10</td>
      <td>1.85879</td>
      <td>0.167646</td>
      <td>164.25000</td>
      <td>0.307271</td>
      <td>0.044356</td>
      <td>0.017647</td>
      <td>0.176489</td>
      <td>0.768087</td>
      <td>0.000360</td>
      <td>11</td>
      <td>0</td>
      <td>1.080637e+10</td>
      <td>3.991270e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307265</td>
      <td>0.044356</td>
      <td>0.024355</td>
      <td>0.176489</td>
      <td>0.768100</td>
      <td>0.000360</td>
      <td>8</td>
      <td>0</td>
      <td>1.080644e+10</td>
      <td>3.991260e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>1.233620e-31</td>
      <td>0.0</td>
      <td>3.466260e-28</td>
      <td>0.0</td>
      <td>1.233620e-31</td>
      <td>58753.00000</td>
      <td>51</td>
      <td>2.394470e-06</td>
      <td>1.233620e-31</td>
      <td>1036729707976454</td>
    </tr>
    <tr>
      <th>56</th>
      <td>46669</td>
      <td>4.487191e+06</td>
      <td>53.79840</td>
      <td>35.210500</td>
      <td>9.92017</td>
      <td>42.910200</td>
      <td>32.175200</td>
      <td>15.440300</td>
      <td>31.157100</td>
      <td>87.944000</td>
      <td>0.030181</td>
      <td>1</td>
      <td>1</td>
      <td>4.487191e+06</td>
      <td>2.960600e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>42.910200</td>
      <td>32.175200</td>
      <td>15.440300</td>
      <td>31.157100</td>
      <td>87.944100</td>
      <td>0.030181</td>
      <td>1</td>
      <td>1</td>
      <td>4.487191e+06</td>
      <td>2.960600e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>4.896280e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>4.896280e-24</td>
      <td>1095830581345388</td>
    </tr>
    <tr>
      <th>57</th>
      <td>47517</td>
      <td>4.162011e+06</td>
      <td>64.22330</td>
      <td>43.670900</td>
      <td>9.92017</td>
      <td>51.962400</td>
      <td>34.766800</td>
      <td>19.101700</td>
      <td>33.626000</td>
      <td>97.547800</td>
      <td>0.032806</td>
      <td>1</td>
      <td>1</td>
      <td>4.162011e+06</td>
      <td>3.796230e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>51.962400</td>
      <td>34.766800</td>
      <td>19.101700</td>
      <td>33.626000</td>
      <td>97.547900</td>
      <td>0.032806</td>
      <td>1</td>
      <td>1</td>
      <td>4.162011e+06</td>
      <td>3.796230e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>0.000000e+00</td>
      <td>638662877792639</td>
    </tr>
    <tr>
      <th>58</th>
      <td>48918</td>
      <td>4.076679e+06</td>
      <td>64.22330</td>
      <td>60.112800</td>
      <td>9.92017</td>
      <td>58.265300</td>
      <td>38.367500</td>
      <td>30.541600</td>
      <td>36.447700</td>
      <td>106.143000</td>
      <td>0.035276</td>
      <td>1</td>
      <td>1</td>
      <td>4.076679e+06</td>
      <td>4.642270e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>58.265300</td>
      <td>38.367500</td>
      <td>30.541600</td>
      <td>36.447700</td>
      <td>106.143000</td>
      <td>0.035276</td>
      <td>1</td>
      <td>1</td>
      <td>4.076679e+06</td>
      <td>4.642270e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>9.060850e-26</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>9.060850e-26</td>
      <td>496193184234661</td>
    </tr>
    <tr>
      <th>59</th>
      <td>49237</td>
      <td>1.131168e+10</td>
      <td>1.55707</td>
      <td>0.118680</td>
      <td>164.25000</td>
      <td>0.307256</td>
      <td>0.041791</td>
      <td>0.017647</td>
      <td>0.180028</td>
      <td>0.796859</td>
      <td>0.000382</td>
      <td>11</td>
      <td>0</td>
      <td>1.131168e+10</td>
      <td>3.844200e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307256</td>
      <td>0.041791</td>
      <td>0.024355</td>
      <td>0.180028</td>
      <td>0.796859</td>
      <td>0.000382</td>
      <td>8</td>
      <td>0</td>
      <td>1.131168e+10</td>
      <td>3.844200e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>1.383240e-35</td>
      <td>0.0</td>
      <td>4.080780e-32</td>
      <td>0.0</td>
      <td>1.383240e-35</td>
      <td>1868.00000</td>
      <td>51</td>
      <td>3.014460e-06</td>
      <td>1.383240e-35</td>
      <td>959892554215832</td>
    </tr>
    <tr>
      <th>60</th>
      <td>49585</td>
      <td>4.513367e+06</td>
      <td>53.79840</td>
      <td>47.602400</td>
      <td>9.92017</td>
      <td>48.310500</td>
      <td>34.421300</td>
      <td>24.712500</td>
      <td>34.041100</td>
      <td>97.265500</td>
      <td>0.033443</td>
      <td>1</td>
      <td>1</td>
      <td>4.513367e+06</td>
      <td>3.572600e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>48.310500</td>
      <td>34.421300</td>
      <td>24.712500</td>
      <td>34.041100</td>
      <td>97.265500</td>
      <td>0.033443</td>
      <td>1</td>
      <td>1</td>
      <td>4.513367e+06</td>
      <td>3.572600e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>0.000000e+00</td>
      <td>754602507232330</td>
    </tr>
    <tr>
      <th>61</th>
      <td>51849</td>
      <td>4.448555e+06</td>
      <td>53.79840</td>
      <td>31.079800</td>
      <td>9.92017</td>
      <td>40.965000</td>
      <td>31.279700</td>
      <td>13.453200</td>
      <td>29.836900</td>
      <td>83.854100</td>
      <td>0.028648</td>
      <td>1</td>
      <td>1</td>
      <td>4.448555e+06</td>
      <td>2.735310e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>40.965000</td>
      <td>31.279700</td>
      <td>13.453200</td>
      <td>29.836900</td>
      <td>83.854200</td>
      <td>0.028648</td>
      <td>1</td>
      <td>1</td>
      <td>4.448555e+06</td>
      <td>2.735310e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>3.906720e-25</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>3.906720e-25</td>
      <td>336259508690885</td>
    </tr>
    <tr>
      <th>62</th>
      <td>52918</td>
      <td>4.459701e+06</td>
      <td>53.79840</td>
      <td>32.456700</td>
      <td>9.92017</td>
      <td>41.607500</td>
      <td>31.630800</td>
      <td>14.066800</td>
      <td>30.311700</td>
      <td>85.277500</td>
      <td>0.029180</td>
      <td>1</td>
      <td>1</td>
      <td>4.459701e+06</td>
      <td>2.813860e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>41.607500</td>
      <td>31.630800</td>
      <td>14.066800</td>
      <td>30.311700</td>
      <td>85.277500</td>
      <td>0.029180</td>
      <td>1</td>
      <td>1</td>
      <td>4.459701e+06</td>
      <td>2.813860e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>2.742850e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>2.742850e-24</td>
      <td>703625990926717</td>
    </tr>
    <tr>
      <th>63</th>
      <td>53077</td>
      <td>4.171421e+06</td>
      <td>64.22330</td>
      <td>42.026700</td>
      <td>9.92017</td>
      <td>51.272100</td>
      <td>34.365300</td>
      <td>18.333600</td>
      <td>33.150700</td>
      <td>96.128100</td>
      <td>0.032296</td>
      <td>1</td>
      <td>1</td>
      <td>4.171421e+06</td>
      <td>3.698850e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>51.272100</td>
      <td>34.365300</td>
      <td>18.333600</td>
      <td>33.150700</td>
      <td>96.128100</td>
      <td>0.032296</td>
      <td>1</td>
      <td>1</td>
      <td>4.171421e+06</td>
      <td>3.698850e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>0.000000e+00</td>
      <td>36267344568234</td>
    </tr>
    <tr>
      <th>64</th>
      <td>55232</td>
      <td>4.224398e+06</td>
      <td>64.22330</td>
      <td>33.805800</td>
      <td>9.92017</td>
      <td>47.716400</td>
      <td>31.990800</td>
      <td>15.042400</td>
      <td>30.304300</td>
      <td>87.868600</td>
      <td>0.029256</td>
      <td>1</td>
      <td>1</td>
      <td>4.224398e+06</td>
      <td>3.175660e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>47.716400</td>
      <td>31.990800</td>
      <td>15.042400</td>
      <td>30.304300</td>
      <td>87.868700</td>
      <td>0.029256</td>
      <td>1</td>
      <td>1</td>
      <td>4.224398e+06</td>
      <td>3.175660e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.927800e-25</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>1.927800e-25</td>
      <td>227400972158552</td>
    </tr>
    <tr>
      <th>65</th>
      <td>56648</td>
      <td>4.112074e+06</td>
      <td>64.22330</td>
      <td>46.959300</td>
      <td>9.92017</td>
      <td>53.303100</td>
      <td>35.864300</td>
      <td>20.494400</td>
      <td>34.557300</td>
      <td>100.114000</td>
      <td>0.033639</td>
      <td>1</td>
      <td>1</td>
      <td>4.112074e+06</td>
      <td>4.013570e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>53.303100</td>
      <td>35.864300</td>
      <td>20.494400</td>
      <td>34.557300</td>
      <td>100.114000</td>
      <td>0.033639</td>
      <td>1</td>
      <td>1</td>
      <td>4.112074e+06</td>
      <td>4.013570e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>0.000000e+00</td>
      <td>552338756679959</td>
    </tr>
    <tr>
      <th>66</th>
      <td>56713</td>
      <td>3.789076e+06</td>
      <td>76.66820</td>
      <td>63.906900</td>
      <td>11.59420</td>
      <td>61.909200</td>
      <td>42.154500</td>
      <td>29.064200</td>
      <td>42.816700</td>
      <td>123.684000</td>
      <td>0.042759</td>
      <td>1</td>
      <td>1</td>
      <td>3.788618e+06</td>
      <td>5.637390e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>61.909000</td>
      <td>42.147000</td>
      <td>29.073200</td>
      <td>42.590000</td>
      <td>123.641000</td>
      <td>0.042737</td>
      <td>1</td>
      <td>1</td>
      <td>3.789076e+06</td>
      <td>5.636430e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>3.210320e-21</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>3.210320e-21</td>
      <td>1101746493702311</td>
    </tr>
    <tr>
      <th>67</th>
      <td>57657</td>
      <td>1.000768e+10</td>
      <td>1.85879</td>
      <td>0.122549</td>
      <td>191.96800</td>
      <td>0.307259</td>
      <td>0.041529</td>
      <td>0.017647</td>
      <td>0.180407</td>
      <td>0.799972</td>
      <td>0.000384</td>
      <td>11</td>
      <td>0</td>
      <td>1.000766e+10</td>
      <td>3.828960e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307258</td>
      <td>0.041529</td>
      <td>0.024355</td>
      <td>0.180407</td>
      <td>0.799974</td>
      <td>0.000384</td>
      <td>8</td>
      <td>0</td>
      <td>1.000768e+10</td>
      <td>3.828950e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>9.424470e-34</td>
      <td>0.0</td>
      <td>2.794670e-30</td>
      <td>0.0</td>
      <td>9.424470e-34</td>
      <td>10833.60000</td>
      <td>51</td>
      <td>2.394470e-06</td>
      <td>9.424470e-34</td>
      <td>257434104352661</td>
    </tr>
    <tr>
      <th>68</th>
      <td>58497</td>
      <td>3.558055e+06</td>
      <td>91.52470</td>
      <td>50.500800</td>
      <td>11.59420</td>
      <td>62.600600</td>
      <td>41.138100</td>
      <td>20.228800</td>
      <td>40.211800</td>
      <td>117.162000</td>
      <td>0.039484</td>
      <td>1</td>
      <td>1</td>
      <td>3.557589e+06</td>
      <td>5.422750e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>62.600800</td>
      <td>41.130600</td>
      <td>20.232100</td>
      <td>39.965200</td>
      <td>117.126000</td>
      <td>0.039466</td>
      <td>1</td>
      <td>1</td>
      <td>3.558055e+06</td>
      <td>5.421910e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>2.601820e-21</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>2.601820e-21</td>
      <td>195307936704795</td>
    </tr>
    <tr>
      <th>69</th>
      <td>62639</td>
      <td>1.203748e+10</td>
      <td>1.55707</td>
      <td>0.156041</td>
      <td>102.88300</td>
      <td>0.307266</td>
      <td>0.040734</td>
      <td>0.017647</td>
      <td>0.181572</td>
      <td>0.809594</td>
      <td>0.000392</td>
      <td>11</td>
      <td>0</td>
      <td>1.203744e+10</td>
      <td>3.782580e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307262</td>
      <td>0.040734</td>
      <td>0.017647</td>
      <td>0.181572</td>
      <td>0.809591</td>
      <td>0.000392</td>
      <td>11</td>
      <td>0</td>
      <td>1.203748e+10</td>
      <td>3.782570e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>5.269440e-38</td>
      <td>0.0</td>
      <td>1.452900e-34</td>
      <td>0.0</td>
      <td>5.269440e-38</td>
      <td>34.07830</td>
      <td>51</td>
      <td>3.014460e-06</td>
      <td>5.269440e-38</td>
      <td>580807419590423</td>
    </tr>
    <tr>
      <th>70</th>
      <td>62858</td>
      <td>3.503176e+06</td>
      <td>91.52470</td>
      <td>71.598800</td>
      <td>11.59420</td>
      <td>70.323000</td>
      <td>45.233300</td>
      <td>29.750100</td>
      <td>44.649700</td>
      <td>130.773000</td>
      <td>0.044115</td>
      <td>1</td>
      <td>1</td>
      <td>3.502740e+06</td>
      <td>6.704870e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>70.322600</td>
      <td>45.224000</td>
      <td>29.758400</td>
      <td>44.341400</td>
      <td>130.719000</td>
      <td>0.044088</td>
      <td>1</td>
      <td>1</td>
      <td>3.503176e+06</td>
      <td>6.703500e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>6.930140e-22</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>6.930140e-22</td>
      <td>285305904432114</td>
    </tr>
    <tr>
      <th>71</th>
      <td>63381</td>
      <td>3.817426e+06</td>
      <td>76.66820</td>
      <td>54.090400</td>
      <td>11.59420</td>
      <td>58.270500</td>
      <td>40.267200</td>
      <td>22.816700</td>
      <td>40.926900</td>
      <td>117.804000</td>
      <td>0.040846</td>
      <td>1</td>
      <td>1</td>
      <td>3.816953e+06</td>
      <td>5.083370e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>58.270400</td>
      <td>40.260500</td>
      <td>22.821500</td>
      <td>40.732600</td>
      <td>117.772000</td>
      <td>0.040829</td>
      <td>1</td>
      <td>1</td>
      <td>3.817426e+06</td>
      <td>5.082680e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>7.122900e-22</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>7.122900e-22</td>
      <td>850576316920867</td>
    </tr>
    <tr>
      <th>72</th>
      <td>63439</td>
      <td>3.824301e+06</td>
      <td>76.66820</td>
      <td>44.274000</td>
      <td>11.59420</td>
      <td>54.107800</td>
      <td>38.527600</td>
      <td>18.213700</td>
      <td>38.465500</td>
      <td>109.924000</td>
      <td>0.037971</td>
      <td>1</td>
      <td>1</td>
      <td>3.823812e+06</td>
      <td>4.499470e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>54.108100</td>
      <td>38.521400</td>
      <td>18.216600</td>
      <td>38.279500</td>
      <td>109.894000</td>
      <td>0.037956</td>
      <td>1</td>
      <td>1</td>
      <td>3.824301e+06</td>
      <td>4.498860e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>9.438740e-21</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>9.438740e-21</td>
      <td>878812413039397</td>
    </tr>
    <tr>
      <th>73</th>
      <td>65691</td>
      <td>3.745042e+06</td>
      <td>76.66820</td>
      <td>73.723300</td>
      <td>11.59420</td>
      <td>65.782500</td>
      <td>43.978400</td>
      <td>37.740000</td>
      <td>43.675000</td>
      <td>126.724000</td>
      <td>0.043179</td>
      <td>1</td>
      <td>1</td>
      <td>3.745042e+06</td>
      <td>6.159270e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>65.782500</td>
      <td>43.978400</td>
      <td>37.740000</td>
      <td>43.675000</td>
      <td>126.724000</td>
      <td>0.043179</td>
      <td>1</td>
      <td>1</td>
      <td>3.745042e+06</td>
      <td>6.159270e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>0.000000e+00</td>
      <td>122623285550770</td>
    </tr>
    <tr>
      <th>74</th>
      <td>66184</td>
      <td>3.495371e+06</td>
      <td>91.52470</td>
      <td>69.254600</td>
      <td>11.59420</td>
      <td>69.555000</td>
      <td>45.108200</td>
      <td>28.210900</td>
      <td>44.443500</td>
      <td>129.909000</td>
      <td>0.043849</td>
      <td>1</td>
      <td>1</td>
      <td>3.495371e+06</td>
      <td>6.617040e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>69.555000</td>
      <td>45.108200</td>
      <td>28.210900</td>
      <td>44.443500</td>
      <td>129.909000</td>
      <td>0.043849</td>
      <td>1</td>
      <td>1</td>
      <td>3.495371e+06</td>
      <td>6.617040e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>0.000000e+00</td>
      <td>648039302856417</td>
    </tr>
    <tr>
      <th>75</th>
      <td>66263</td>
      <td>1.116186e+10</td>
      <td>1.30432</td>
      <td>0.115440</td>
      <td>120.24400</td>
      <td>0.307256</td>
      <td>0.043800</td>
      <td>0.017647</td>
      <td>0.177232</td>
      <td>0.774074</td>
      <td>0.000364</td>
      <td>11</td>
      <td>0</td>
      <td>1.116186e+10</td>
      <td>3.959630e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307256</td>
      <td>0.043800</td>
      <td>0.024355</td>
      <td>0.177232</td>
      <td>0.774074</td>
      <td>0.000364</td>
      <td>8</td>
      <td>0</td>
      <td>1.116186e+10</td>
      <td>3.959630e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>1.344780e-34</td>
      <td>0.0</td>
      <td>3.817530e-31</td>
      <td>0.0</td>
      <td>1.344780e-34</td>
      <td>100.38200</td>
      <td>51</td>
      <td>3.794990e-06</td>
      <td>1.344780e-34</td>
      <td>508461722960448</td>
    </tr>
    <tr>
      <th>76</th>
      <td>67214</td>
      <td>1.000717e+10</td>
      <td>1.85879</td>
      <td>0.212743</td>
      <td>102.88300</td>
      <td>0.307276</td>
      <td>0.046032</td>
      <td>0.017647</td>
      <td>0.174321</td>
      <td>0.750729</td>
      <td>0.000347</td>
      <td>11</td>
      <td>0</td>
      <td>1.000707e+10</td>
      <td>4.085290e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307268</td>
      <td>0.046032</td>
      <td>0.024354</td>
      <td>0.174321</td>
      <td>0.750744</td>
      <td>0.000347</td>
      <td>8</td>
      <td>0</td>
      <td>1.000717e+10</td>
      <td>4.085270e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>7.532780e-32</td>
      <td>0.0</td>
      <td>2.052590e-28</td>
      <td>0.0</td>
      <td>7.532780e-32</td>
      <td>76327.80000</td>
      <td>51</td>
      <td>2.394470e-06</td>
      <td>7.532780e-32</td>
      <td>371676088669808</td>
    </tr>
    <tr>
      <th>77</th>
      <td>67711</td>
      <td>3.482010e+06</td>
      <td>91.52470</td>
      <td>76.287300</td>
      <td>11.59420</td>
      <td>71.945600</td>
      <td>46.199400</td>
      <td>32.463600</td>
      <td>45.226600</td>
      <td>132.516000</td>
      <td>0.044504</td>
      <td>1</td>
      <td>1</td>
      <td>3.481581e+06</td>
      <td>6.974930e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>71.945300</td>
      <td>46.189500</td>
      <td>32.473900</td>
      <td>44.893700</td>
      <td>132.457000</td>
      <td>0.044475</td>
      <td>1</td>
      <td>1</td>
      <td>3.482010e+06</td>
      <td>6.973380e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>2.246000e-20</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>2.246000e-20</td>
      <td>349400330217135</td>
    </tr>
    <tr>
      <th>78</th>
      <td>68745</td>
      <td>3.804565e+06</td>
      <td>76.66820</td>
      <td>59.980300</td>
      <td>11.59420</td>
      <td>60.533800</td>
      <td>41.319000</td>
      <td>26.351100</td>
      <td>42.192100</td>
      <td>121.807000</td>
      <td>0.042241</td>
      <td>1</td>
      <td>1</td>
      <td>3.804100e+06</td>
      <td>5.419640e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>60.533600</td>
      <td>41.311900</td>
      <td>26.358100</td>
      <td>41.985500</td>
      <td>121.770000</td>
      <td>0.042221</td>
      <td>1</td>
      <td>1</td>
      <td>3.804565e+06</td>
      <td>5.418810e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>2.139090e-22</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>2.139090e-22</td>
      <td>499551434180870</td>
    </tr>
    <tr>
      <th>79</th>
      <td>68747</td>
      <td>3.468035e+06</td>
      <td>91.52470</td>
      <td>80.975700</td>
      <td>11.59420</td>
      <td>73.626400</td>
      <td>46.958700</td>
      <td>35.730300</td>
      <td>45.569000</td>
      <td>133.740000</td>
      <td>0.044664</td>
      <td>1</td>
      <td>1</td>
      <td>3.467610e+06</td>
      <td>7.214510e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>73.626100</td>
      <td>46.948300</td>
      <td>35.743500</td>
      <td>45.215100</td>
      <td>133.680000</td>
      <td>0.044634</td>
      <td>1</td>
      <td>1</td>
      <td>3.468035e+06</td>
      <td>7.212880e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>8.354400e-21</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>8.354400e-21</td>
      <td>1094281990872770</td>
    </tr>
    <tr>
      <th>80</th>
      <td>69054</td>
      <td>4.038901e+06</td>
      <td>64.22330</td>
      <td>61.757000</td>
      <td>9.92017</td>
      <td>58.958200</td>
      <td>39.071000</td>
      <td>31.425300</td>
      <td>36.791500</td>
      <td>106.979000</td>
      <td>0.035438</td>
      <td>1</td>
      <td>1</td>
      <td>4.038417e+06</td>
      <td>4.768070e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>58.958200</td>
      <td>39.064300</td>
      <td>31.437700</td>
      <td>36.547800</td>
      <td>106.940000</td>
      <td>0.035419</td>
      <td>1</td>
      <td>1</td>
      <td>4.038901e+06</td>
      <td>4.767200e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.267920e-20</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>1.267920e-20</td>
      <td>1101073536172882</td>
    </tr>
    <tr>
      <th>81</th>
      <td>70034</td>
      <td>1.286132e+10</td>
      <td>1.55707</td>
      <td>0.118680</td>
      <td>191.96800</td>
      <td>0.307268</td>
      <td>0.040729</td>
      <td>0.017647</td>
      <td>0.181579</td>
      <td>0.809656</td>
      <td>0.000392</td>
      <td>11</td>
      <td>0</td>
      <td>1.286127e+10</td>
      <td>3.782300e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307263</td>
      <td>0.040729</td>
      <td>0.017647</td>
      <td>0.181579</td>
      <td>0.809653</td>
      <td>0.000392</td>
      <td>11</td>
      <td>0</td>
      <td>1.286132e+10</td>
      <td>3.782290e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>3.051880e-39</td>
      <td>0.0</td>
      <td>8.415700e-36</td>
      <td>0.0</td>
      <td>3.051880e-39</td>
      <td>44.60590</td>
      <td>51</td>
      <td>3.014460e-06</td>
      <td>3.051880e-39</td>
      <td>94050793789837</td>
    </tr>
    <tr>
      <th>82</th>
      <td>71851</td>
      <td>4.128093e+06</td>
      <td>64.22330</td>
      <td>48.603500</td>
      <td>9.92017</td>
      <td>53.900800</td>
      <td>36.025100</td>
      <td>21.586400</td>
      <td>34.918400</td>
      <td>101.323000</td>
      <td>0.034106</td>
      <td>1</td>
      <td>1</td>
      <td>4.127577e+06</td>
      <td>4.084000e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>53.900600</td>
      <td>36.019700</td>
      <td>21.591100</td>
      <td>34.740500</td>
      <td>101.298000</td>
      <td>0.034093</td>
      <td>1</td>
      <td>1</td>
      <td>4.128093e+06</td>
      <td>4.083480e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>2.175510e-23</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>2.175510e-23</td>
      <td>1046778251833485</td>
    </tr>
    <tr>
      <th>83</th>
      <td>72292</td>
      <td>1.016121e+10</td>
      <td>1.85879</td>
      <td>0.167646</td>
      <td>140.53500</td>
      <td>0.307261</td>
      <td>0.044010</td>
      <td>0.017647</td>
      <td>0.176950</td>
      <td>0.771798</td>
      <td>0.000363</td>
      <td>11</td>
      <td>0</td>
      <td>1.016119e+10</td>
      <td>3.971590e+02</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0.307259</td>
      <td>0.044010</td>
      <td>0.024355</td>
      <td>0.176950</td>
      <td>0.771802</td>
      <td>0.000363</td>
      <td>8</td>
      <td>0</td>
      <td>1.016121e+10</td>
      <td>3.971580e+02</td>
      <td>0</td>
      <td>1</td>
      <td>0.0</td>
      <td>1.337280e-31</td>
      <td>0.0</td>
      <td>3.781730e-28</td>
      <td>0.0</td>
      <td>1.337280e-31</td>
      <td>18384.30000</td>
      <td>51</td>
      <td>2.394470e-06</td>
      <td>1.337280e-31</td>
      <td>773566060475485</td>
    </tr>
    <tr>
      <th>84</th>
      <td>74675</td>
      <td>4.194401e+06</td>
      <td>64.22330</td>
      <td>37.094200</td>
      <td>9.92017</td>
      <td>49.153800</td>
      <td>33.085500</td>
      <td>16.224200</td>
      <td>31.563900</td>
      <td>91.432900</td>
      <td>0.030572</td>
      <td>1</td>
      <td>1</td>
      <td>4.194401e+06</td>
      <td>3.397660e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>49.153800</td>
      <td>33.085500</td>
      <td>16.224200</td>
      <td>31.563900</td>
      <td>91.432900</td>
      <td>0.030572</td>
      <td>1</td>
      <td>1</td>
      <td>4.194401e+06</td>
      <td>3.397660e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.349630e-25</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>1.349630e-25</td>
      <td>255190284485914</td>
    </tr>
    <tr>
      <th>85</th>
      <td>74708</td>
      <td>4.419908e+06</td>
      <td>53.79840</td>
      <td>37.964200</td>
      <td>9.92017</td>
      <td>44.172500</td>
      <td>33.324800</td>
      <td>16.529500</td>
      <td>32.013300</td>
      <td>90.229000</td>
      <td>0.030873</td>
      <td>1</td>
      <td>1</td>
      <td>4.419908e+06</td>
      <td>3.147180e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>44.172500</td>
      <td>33.324800</td>
      <td>16.529500</td>
      <td>32.013300</td>
      <td>90.229100</td>
      <td>0.030873</td>
      <td>1</td>
      <td>1</td>
      <td>4.419908e+06</td>
      <td>3.147180e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.147830e-23</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>1.147830e-23</td>
      <td>1024129046739054</td>
    </tr>
    <tr>
      <th>86</th>
      <td>74943</td>
      <td>4.113447e+06</td>
      <td>64.22330</td>
      <td>51.891900</td>
      <td>9.92017</td>
      <td>55.057000</td>
      <td>36.791100</td>
      <td>23.632900</td>
      <td>35.554100</td>
      <td>103.172000</td>
      <td>0.034675</td>
      <td>1</td>
      <td>1</td>
      <td>4.112940e+06</td>
      <td>4.253770e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>55.056700</td>
      <td>36.785400</td>
      <td>23.638800</td>
      <td>35.363200</td>
      <td>103.142000</td>
      <td>0.034660</td>
      <td>1</td>
      <td>1</td>
      <td>4.113447e+06</td>
      <td>4.253150e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>2.822630e-21</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>3.342930e-08</td>
      <td>2.822630e-21</td>
      <td>284486075992492</td>
    </tr>
    <tr>
      <th>87</th>
      <td>75777</td>
      <td>3.473395e+06</td>
      <td>91.52470</td>
      <td>83.319900</td>
      <td>11.59420</td>
      <td>74.481200</td>
      <td>47.008500</td>
      <td>38.006100</td>
      <td>45.516800</td>
      <td>133.930000</td>
      <td>0.044592</td>
      <td>1</td>
      <td>1</td>
      <td>3.473395e+06</td>
      <td>7.283920e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>74.481200</td>
      <td>47.008500</td>
      <td>38.006100</td>
      <td>45.516800</td>
      <td>133.930000</td>
      <td>0.044592</td>
      <td>1</td>
      <td>1</td>
      <td>3.473395e+06</td>
      <td>7.283920e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>0.000000e+00</td>
      <td>1103256080203521</td>
    </tr>
    <tr>
      <th>88</th>
      <td>76114</td>
      <td>4.862599e+06</td>
      <td>45.06570</td>
      <td>38.724400</td>
      <td>8.48785</td>
      <td>42.311000</td>
      <td>30.490100</td>
      <td>18.726800</td>
      <td>28.692200</td>
      <td>81.759700</td>
      <td>0.027476</td>
      <td>1</td>
      <td>1</td>
      <td>4.862599e+06</td>
      <td>2.708850e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>42.311000</td>
      <td>30.490100</td>
      <td>18.726800</td>
      <td>28.692200</td>
      <td>81.759800</td>
      <td>0.027476</td>
      <td>1</td>
      <td>1</td>
      <td>4.862599e+06</td>
      <td>2.708850e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>4.506320e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>5.507280e-08</td>
      <td>4.506320e-24</td>
      <td>523008192660592</td>
    </tr>
    <tr>
      <th>89</th>
      <td>77014</td>
      <td>3.799209e+06</td>
      <td>76.66820</td>
      <td>52.127100</td>
      <td>11.59420</td>
      <td>57.461400</td>
      <td>40.235700</td>
      <td>21.608100</td>
      <td>40.521800</td>
      <td>116.268000</td>
      <td>0.040221</td>
      <td>1</td>
      <td>1</td>
      <td>3.799209e+06</td>
      <td>4.997460e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>57.461400</td>
      <td>40.235700</td>
      <td>21.608100</td>
      <td>40.521800</td>
      <td>116.268000</td>
      <td>0.040221</td>
      <td>1</td>
      <td>1</td>
      <td>3.799209e+06</td>
      <td>4.997460e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>1.771000e-23</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>1.771000e-23</td>
      <td>72935111730894</td>
    </tr>
    <tr>
      <th>90</th>
      <td>77405</td>
      <td>3.784014e+06</td>
      <td>76.66820</td>
      <td>61.943600</td>
      <td>11.59420</td>
      <td>61.211100</td>
      <td>41.950800</td>
      <td>27.450900</td>
      <td>42.621800</td>
      <td>122.928000</td>
      <td>0.042552</td>
      <td>1</td>
      <td>1</td>
      <td>3.784014e+06</td>
      <td>5.554030e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>61.211100</td>
      <td>41.950800</td>
      <td>27.450900</td>
      <td>42.621800</td>
      <td>122.928000</td>
      <td>0.042553</td>
      <td>1</td>
      <td>1</td>
      <td>3.784014e+06</td>
      <td>5.554030e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.561070e-08</td>
      <td>0.000000e+00</td>
      <td>867677935931728</td>
    </tr>
    <tr>
      <th>91</th>
      <td>79203</td>
      <td>4.502379e+06</td>
      <td>53.79840</td>
      <td>29.703000</td>
      <td>9.92017</td>
      <td>40.377600</td>
      <td>30.475500</td>
      <td>13.060800</td>
      <td>29.157400</td>
      <td>82.171000</td>
      <td>0.028061</td>
      <td>1</td>
      <td>1</td>
      <td>4.502379e+06</td>
      <td>2.625690e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>40.377600</td>
      <td>30.475500</td>
      <td>13.060800</td>
      <td>29.157400</td>
      <td>82.171100</td>
      <td>0.028061</td>
      <td>1</td>
      <td>1</td>
      <td>4.502379e+06</td>
      <td>2.625690e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>6.015900e-24</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>6.015900e-24</td>
      <td>663908254916761</td>
    </tr>
    <tr>
      <th>92</th>
      <td>83735</td>
      <td>4.447108e+06</td>
      <td>53.79840</td>
      <td>42.094900</td>
      <td>9.92017</td>
      <td>46.094000</td>
      <td>33.905300</td>
      <td>19.154400</td>
      <td>33.095300</td>
      <td>93.843900</td>
      <td>0.032231</td>
      <td>1</td>
      <td>1</td>
      <td>4.447108e+06</td>
      <td>3.353860e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>46.094000</td>
      <td>33.905300</td>
      <td>19.154400</td>
      <td>33.095300</td>
      <td>93.844000</td>
      <td>0.032231</td>
      <td>1</td>
      <td>1</td>
      <td>4.447108e+06</td>
      <td>3.353860e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>9.793420e-25</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>4.208500e-08</td>
      <td>9.793420e-25</td>
      <td>247834902606896</td>
    </tr>
    <tr>
      <th>93</th>
      <td>84178</td>
      <td>3.575107e+06</td>
      <td>91.52470</td>
      <td>45.812400</td>
      <td>11.59420</td>
      <td>60.648100</td>
      <td>39.972200</td>
      <td>18.631400</td>
      <td>38.834000</td>
      <td>113.068000</td>
      <td>0.038008</td>
      <td>1</td>
      <td>1</td>
      <td>3.574631e+06</td>
      <td>5.091830e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>60.648300</td>
      <td>39.965100</td>
      <td>18.634200</td>
      <td>38.600700</td>
      <td>113.032000</td>
      <td>0.037990</td>
      <td>1</td>
      <td>1</td>
      <td>3.575107e+06</td>
      <td>5.091030e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>5.063320e-22</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>5.063320e-22</td>
      <td>811820018304613</td>
    </tr>
    <tr>
      <th>94</th>
      <td>84911</td>
      <td>3.535272e+06</td>
      <td>91.52470</td>
      <td>55.189300</td>
      <td>11.59420</td>
      <td>64.499900</td>
      <td>42.292100</td>
      <td>21.923100</td>
      <td>41.435600</td>
      <td>120.794000</td>
      <td>0.040739</td>
      <td>1</td>
      <td>1</td>
      <td>3.535272e+06</td>
      <td>5.748360e+07</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>64.499900</td>
      <td>42.292100</td>
      <td>21.923100</td>
      <td>41.435600</td>
      <td>120.794000</td>
      <td>0.040739</td>
      <td>1</td>
      <td>1</td>
      <td>3.535272e+06</td>
      <td>5.748360e+07</td>
      <td>1</td>
      <td>0</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.0</td>
      <td>0.000000e+00</td>
      <td>0.00000</td>
      <td>51</td>
      <td>2.034330e-08</td>
      <td>0.000000e+00</td>
      <td>600581401991924</td>
    </tr>
  </tbody>
</table>
